.hamburger {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 44px;
  min-width: 44px;
  height: 44px;
  min-height: 44px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 12px 4px;
  gap: 6px;
}

.hamburger span {
  background: var(--color-heading-primary);
  border-radius: 10px;
  height: 2px;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.hamburger span:nth-of-type(1) {
  width: 50%;
}

.hamburger span:nth-of-type(2) {
  width: 100%;
}

.hamburger span:nth-of-type(3) {
  width: 75%;
}

.hamburger.active span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotateZ(45deg) translate(5px, 2px);
}

.hamburger.active span:nth-of-type(2) {
  transform-origin: top;
  transform: rotateZ(-45deg);
}

.hamburger.active span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(18px, -7px) rotateZ(45deg);
}
